@model BookMgt.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publicationYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bookid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
